// bower:scss
@import "bower_components/reset-css/_reset.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower
@import 'base/fontello.css';
*,
*::after,
*::before {
  box-sizing: border-box;
}


@font-face {
  font-family: 'Montserrat Bold';
  src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat Thin';
  src: url('../fonts/Montserrat-Thin.ttf');
}

@font-face {
  font-family: 'Montserrat Light';
  src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Opensans Light';
  src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Opensans Light';
  src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Lobster Regular';
  src: url('../fonts/Lobster-Regular.ttf')
}


body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  color: #333;

}

img {
  max-width: 100%;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

@import "base/base-styles";
@import 'layouts/header';
@import "components/work-with-us";
@import "components/work-description";
@import "components/latest-works";
@import "components/testimonials";
@import 'components/our-clients';
@import "components/our-team";
@import "layouts/footer";
