.section-heading {
  font-family: "Montserrat Light", sans-serif;
  text-transform: uppercase;
  color: #828181;
  font-size: 20.5px;
  letter-spacing: 3px;
  text-align: center;
  padding-bottom: 3px;
  font-weight: bold;
}

.caption-line {
  align: center;
  width: 43px;
  size: 2px;
  border: #555555 1px solid;
}

.section-caption {
  text-align: center;
  color: #b7b3b3;
  margin-top: 8px;
  font-family: "Montserrat Light", sans-serif;
}
