.latest-work {
  background-color: #54d154;
  margin-top: 60px;
  padding-bottom: 29px;
  .section-heading {
    color: #207b20;
  }
  .caption-line {
    border: #207b20 1px solid;
  }
  .section-caption {
    color: #207b20;
  }
}

.latest-work__link-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 62px;
}

.latest-work__article{
  padding-top: 42px;
  color: #207b20;
  .section-heading {
    color: #207b20;
  }
}
.green {
  color: #207b20;
}

.latest-work__link {
  border: #2b9b2b 1px solid;
  text-decoration: none;
  color: #2b9b2b;
  padding: 8px 17px;
  margin-right: -1px;
  display: inline-block;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #fff;
  &:hover {
    color: #fff;
    background-color: #2b9b2b;
  }

}

.link_photography {
 border-radius: 25px 0 0 25px;
}

.link-print {
  border-radius: 0 25px 25px 0;
}

.latest-work-wrapper {
  margin-top: 55px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 30px;

  @media screen and (min-width: 380px) {
    justify-content: space-between;
  }
}

.latest-work__img {
  margin-bottom: 30px;
}

.latest-work__btn {
  background-color: #2b9b2b;
  color: #fff;
  border: none;
  display: block;
  font-size: 18px;
  padding: 10px 15px;
  margin: 25px auto;
  border-radius: 25px;
  &:hover {
    background-color: #fff;
    color: #2b9b2b;
    cursor: pointer;
  }
}
