.our-clients {
  background-color: #f2f1f1;
padding: 37px 0 62px;
}

.clients-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.our-clients__item {
  align-self: center;
  flex-basis: 45%;
  padding: 20px 0;
  &:hover {
    background-color: rgba(34, 167, 7, 0.36);
  }
  @media screen and (min-width: 520px) {
    flex-basis: 30%;
  }
  @media screen and (min-width: 769px) {
    flex-basis: 25%;
  }
}

.our-clients__img {
  display: block;
  margin: 0 auto;
}

.our-clients__btn {
  background-color: #dddcdc;
  color: #a59d9d;
  border: none;
  display: block;
  font-size: 18px;
  padding: 10px 15px;
  margin: 39px auto 0;
  border-radius: 25px;
  cursor: pointer;
  &:hover {
    background-color: rgba(34, 167, 7, 0.76);
    color: #fff;
  }
}

