.testimonials {
  padding: 37px 0 61px;
  position: relative;
}

.testimonials__blockquote {
  max-width: 452px;
  text-align: center;
  font-family: 'Montserrat Regular', sans-serif;
  margin: 70px auto 0;
  line-height: 1.2;


}

.testimonials__img {
  width: 45px;
  height: 45px;
  border: #e1e1e1 solid 2px;
  padding: 3px;
  border-radius: 50%;
}

.blockquote-author {
float: right;
  padding-left: 7px;
}

.author-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
.author-name {
  padding: 5px 0;
  font-weight: bold;
}

.author-position {
  color: #cccccc;
}

.js-slider {
  position: relative;
}

.blockquote-slider-controls {
  .arrow-link {
    position: absolute;
    font-size: 1em;
    color: rgba(36, 36, 36, 0.93);
    left: 0;
    height: 50px;
    width: 25px;
    top: 93.5%;
    margin: -25px 0 0;

    @media screen and (min-width: 750px) {
      top: 59.5%;
      font-size: 2em;
      color: rgba(85, 85, 85, 0.27);
    }

    &--next {
      right: 340px;
      left: auto;
      @media screen and (min-width: 750px) {
        right: 90px;
      }
    }

    &--prev {
      left: 340px;
      @media screen and (min-width: 750px) {
        left: 90px;
      }
    }
  }
}
