.what-we-do {
  padding: 12px 0;
  max-width: 1150px;
  margin: 650px auto 0;
}

.what-we-do-wrapper {
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.work-description-block {
  text-align: center;
  color: #828181;
}

.work-description-block__icon {
  font-size: 84px;
  background-color: #e1f3e1;
  padding: 15px;
  color: #54d154;
  border-radius: 25px;
}

.work-description-block__header{
  font-size: 24px;
  font-weight: bold;
  margin-top: 54px;
}

.work-description-block__caption {
  font-size: 15px;
  font-family: "Montserrat Light",sans-serif;
  margin-top: 17px;
  line-height: 1.2;
  max-width: 290px;
}

.work-description-block__btn {
  background-color: #54d154;
  color: #fff;
  font-family: "Helvetica Neue",sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 26px;
  padding: 6px 13px;
  border-radius: 25px;
  border: none;
  line-height: 1;
  margin-bottom: 50px;
  @media screen and (min-width: 800px){
    margin-bottom: 0;
  }
}
