.team {
  padding: 34px 0 0;
  background-color: #54d154;
  .section-heading {
    color: #207b20;
  }
  .caption-line {
    border: #207b20 1px solid;

  }
}

.team-member__link {
  text-decoration: none;
  margin: 0 10px 10px 0;

  @media screen and (min-width: 880px) {
    margin: 0;
  }
}

.team-wrapper {
  display: flex;
  justify-content: center;
  max-width: 840px;
  margin: 53px auto 0;
  flex-wrap: wrap;
  padding: 0 20px;
  @media screen and (min-width: 880px) {
    padding: 0;
    justify-content: space-between;
  }
}

.team-member__photo {
  border-radius: 50%;
}

.team-member__separator {
  width: 1px;
  height: 76px;
  border: #207b20 1px solid;
  display: none;
  @media screen and (min-width: 670px) {
    display: block;
  }
}

.team-member__name {
  color: #fff;
  text-align: center;
}

.social {
  border-radius: 25px;
  max-width: 110px;
  padding: 3px 0;
  .icon-dribbble {
    color: #e7588d;
  }
  .icon-facebook-circled {
    color: #0061ff;
  }
  .icon-twitter-circled {
    color: #40c0e0;
  }
  @media screen and (min-width: 880px) {
    max-width: 90px;
  }
}

.team-member__social {
  margin: 13px auto 20px;
  background-color: #c5e9c5;
  @media screen and (min-width: 880px) {
    margin: 13px auto 0;
  }
}

.team-member__icon {
  font-size: 21px;
  margin-right: -5px;
}

.team__join {
  background-color: #3eba3e;
  padding: 25px 0;
  margin-top: 63px;
  align-self: center;
  .work-with-us__link {
    margin: 0 auto;
    font-size: 18px;
    display: block;
    max-width: 180px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

